<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> 
<script src="~/js/proxy.js"></script>
<html>
<body> 
    <label for="filmdropdown">Select a Film:</label>
    <select id="filmdropdown"></select>

    <button id="getstarshipsBtn" >Get Starships</button>

    <div id="starshipsList"></div>
</body>
</html>